@model CRUD_CF.Country
    @{
        ViewBag.Title = "Default";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }

    <h2>Choose a Default country </h2>
<br/>
<br/>
<hr />

    <p>
        <div class="form-group">
            @*@Html.LabelFor(model => model.countryId, htmlAttributes: new { @class = "control-label col-md-2" }) |*@

           
            <div class="col-md-10">
                @Html.Label("Choose a country:")
                @Html.DropDownListFor(model => model.countryId, ViewBag.Countrylist as SelectList, "Set Default Country" , new { @class = "form - control"  })
                @Html.ValidationMessageFor(model => model.countryId, "", new { @class = "text-danger" })
                                    
                <input type="submit" value="Set Default" class="btn btn-primary col-md-offset-1" @*PostBackUrl="~/Contact/Create.cshtml"*@ />
            </div>
        </div>

        
        <br />
        <br />
        
    </p>

@section Scripts {
    <script>
        var myFunction = function ()
        {
            var x = $(this).val();
            alert(x);
        }
        $('#countryId').on("change", myFunction);
       

    </script>
    }